langgraph
langchain_core
langchain
langchain_deepseek
langchain_openai
dotenv
chromadb
sentence_transformers
tqdm
torch
json
math
multiprocessing
numpy
datetime
gzip
tarfile
logging
transformers
pandas
peft
datasets
swanlab
